      @keyframes rotation {
          0% {
              transform: rotate(0deg);
          }

          100% {
              transform: rotate(360deg);
          }
      }

      @keyframes rotationBack {
          0% {
              transform: rotate(0deg);
          }

          100% {
              transform: rotate(-360deg);
          }
      }

      .Pcs_Main_Container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: #f0f0f0;

          .Loader_Overlay {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(0, 0, 0, 0.5);
              z-index: 9999;
          }

          .password-prompt {
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: white;
              border: 1px solid #ccc;
              border-radius: 8px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
              padding: 20px;
              z-index: 1000;
          }

          .password-prompt-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
          }

          .password-prompt h2 {
              margin: 0;
              font-size: 20px;
              color: black;
              width: 20vw;
          }

          .close-button {
              padding: 5px;
              margin: 5px;
              background: none;
              border: none;
              cursor: pointer;
              font-size: 10px;
              color: #007bff;
          }

          .close-button:hover {
              color: #0056b3;

          }

          .password-prompt input {
              width: 100%;
              padding: 10px;
              margin-bottom: 15px;
              border: 1px solid #ccc;
              border-radius: 4px;
              font-size: 16px;
          }

          .password-prompt button {
              width: 100%;
              padding: 10px;
              background-color: #007bff;
              color: white;
              border: none;
              border-radius: 4px;
              font-size: 16px;
              cursor: pointer;
              transition: background-color 0.3s;
          }

          .password-prompt button:hover {
              background-color: #0056b3;
          }


          .CreateLoader {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;

              .loader {
                  width: 58px;
                  height: 58px;
                  border-radius: 50%;
                  display: inline-block;
                  position: relative;
                  color: #007bff;
                  border: 3px solid;
                  border-color: #007bff #007bff transparent transparent;
                  box-sizing: border-box;
                  animation: rotation 1s linear infinite;
                  margin: 1rem;
              }

              .loader::after,
              .loader::before {
                  content: '';
                  box-sizing: border-box;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  border: 3px solid;
                  border-color: transparent transparent #FF3D00 #FF3D00;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  box-sizing: border-box;
                  animation: rotationBack 0.5s linear infinite;
                  transform-origin: center center;
              }

              .loader::before {
                  width: 42px;
                  height: 42px;
                  border-color: #007bff #007bff transparent transparent;
                  animation: rotation 1.5s linear infinite;
              }

              h4 {
                  color: #007bff;
                  margin: 1rem;
              }
          }


      }

      .Pcs_Container {
          height: 93vh;
          border: 1px solid #ddd;
          border-radius: 30px;
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
          margin: 2rem;
          padding: 1.5rem;
          width: 97%;
          background-color: #ffffff;
      }

      .Pcs_Container_Header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;

          img {
              width: 200px;
          }

          .Pcs_Container_Header_companyName {
              display: flex;
              align-items: center;
              gap: 10px;

              label {
                  color: #333;
                  font-weight: bold;
              }

              select,
              option {
                  padding: 5px;
                  margin: 5px;
                  border: 1px solid #ddd;
                  border-radius: 5px;
                  background-color: #fff;
              }
          }

          .Pcs_Container_Header_machine_no {
              h6 {
                  color: #333;
                  font-weight: 400;
                  border: 1px solid #ddd;
                  padding: 5px;
                  border-radius: 6px;
                  background-color: #f9f9f9;
              }
          }

          .Pcs_Container_Header_Username {
              display: flex;
              align-items: center;
              gap: 10px;

              h3 {
                  color: #007bff;
                  margin: 0;
                  font-size: 1.2rem;
              }
          }
      }

      /* Base styles for the input container */
      .Pcs_Container_Grid_search {
          width: 80%;
          max-width: 300px;
          height: 40px;
          padding: 10px 15px;
          font-size: 16px;
          border: 2px solid #ddd;
          border-radius: 25px;
          background-color: #f9f9f9;
          color: #333;
          transition: all 0.3s ease;
          outline: none;
      }

      /* Focus state - adds a blue border and subtle shadow */
      .Pcs_Container_Grid_search:focus {
          border-color: #4e9ef1;
          box-shadow: 0 0 5px rgba(78, 158, 241, 0.5);
      }

      /* Placeholder styling */
      .Pcs_Container_Grid_search::placeholder {
          color: #bbb;
          font-style: italic;
          transition: color 0.3s ease, transform 0.3s ease;
      }

      .Pcs_Container_Grid_search:focus::placeholder {
          color: #4e9ef1;
          transform: translateY(-14px);
          font-size: 12px;
      }

      @keyframes pulse {
          0% {
              box-shadow: 0 0 8px rgba(78, 158, 241, 0.3);
          }

          50% {
              box-shadow: 0 0 15px rgba(78, 158, 241, 0.5);
          }

          100% {
              box-shadow: 0 0 8px rgba(78, 158, 241, 0.3);
          }
      }

      .Pcs_Container_Grid_search:focus {
          animation: pulse 1s infinite;
      }

      .Pcs_Container_Grid {
          width: 100%;
          height: 46vh;
          margin: 10px 0;
          display: flex;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 10px;
          background-color: #fff;
          color: #333;

          .Pcs_Container_Grid_PI {
              width: 50%;
              border-right: 1px solid #ddd;
              height: 100%;
              border-radius: 10px;
              padding: 2px;
              overflow-y: auto;
              overflow-wrap: break-word;
              background-color: #f9f9f9;
              cursor: pointer;

              li {
                  list-style: none;
                  margin: 2px;
                  padding: 8px;
                  border-radius: 5px;

                  &:hover {
                      color: black;
                      background-color: #007bff;
                  }
              }

              .selected {
                  background-color: #007bff;
                  color: black;
              }

              .to-print {
                  background-color: #f8b6b4;
                  color: black;
              }
          }

          .Pcs_Container_Grid_PI_details {
              overflow-y: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              height: 100%;
              width: 50%;
              margin-left: 10px;
              padding: 10px;
              border-radius: 10px;
              background-color: #f9f9f9;

              label {
                  color: #333;
                  font-weight: bold;
              }

              .Pcs_Container_Grid_PI_details_heading {
                  h6 {
                      color: #007bff;
                      margin-top: 10px;
                  }
              }

              .Pcs_Container_Grid_PI_details_fileType {

                  select,
                  option {
                      padding: 7px;
                      margin: 5px;
                      border: 1px solid #ddd;
                      border-radius: 5px;
                      background-color: #fff;
                  }

              }

              .Pcs_Container_Grid_PI_details_GeneratedButton {
                  margin-top: 20px;

                  button {
                      width: 20vw;
                      height: 10vh;
                      border-radius: 20px;
                      border: 2px solid #ddd;
                      font-weight: bold;
                      cursor: pointer;
                      transition: background-color 0.3s ease;
                      background-color: #ED7117;
                      color: #fff;

                  }
              }

          }
      }

      .Pcs_Container_Bottom {
          display: flex;
          justify-content: space-around;
          margin-top: 1rem;
          align-items: center;


          button {
              width: 10vw;
              height: 12vh;
              border-radius: 20px;
              border: 2px solid #ddd;
              font-weight: bold;
              cursor: pointer;
              transition: background-color 0.3s ease;
              background-color: #f9f9f9;
              color: #999;
              pointer-events: none;

          }

          button:not(:disabled) {
              background-color: #ED7117;
              color: #fff;
              pointer-events: auto;
          }

          button:not(:disabled):hover {
              background-color: #ff8c00;
          }


          .Pcs_Container_Bottom_Summary {
              display: flex;
              flex-direction: column;
              gap: 10px;

              h6 {
                  margin: 0px 0;
                  color: #333;
              }
          }
      }
      .fg-prompt {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        max-width: 800px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        padding: 20px;
        z-index: 1000;
        max-height: 80vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
      
      .fg-prompt-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .fg-prompt-header h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #333;
      }
      
      .close-button-fg {
        /* padding: 0px 2px 0px 2px; */
        border: 1px solid black;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1.3rem;
        color: red;
      }
      
      .close-button-fg:hover {
        color: #0056b3;
    
      }
      
      /* Table container (scrollable body) */
      .fg-table-wrapper {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 20px;
        border: 1px solid #eee;
        border-radius: 6px;
      }
      
      /* Table styling */
      .fg-table {
        width: 100%;
        border-collapse: collapse;
      }
      
      .fg-table th,
      .fg-table td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 0.95rem;
        color: black;
      }
      
      .fg-table th {
        background-color: #f2f2f2;
        font-weight: 600;
      }
      
      /* FG input field inside table */
      .fg-code-input {
        width: 60px;
        padding: 5px;
        text-align: center;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      /* Submit button at bottom */
      .submit-fg-button {
        align-self: center;
        padding: 10px 25px;
        background-color: #007bff;
        color: white;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .submit-fg-button:hover {
        background-color: #0056b3;
      }
      